.index {
  position: relative;
  .actions {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    .action + .action {
      margin-left: 16px;
    }

    .action {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0px 1px 2px -2px rgba($color: #000000, $alpha: 0.16);
      transition: all 0.3s;
      &:hover {
        // background-color: rgba($color: var(--color-primary), $alpha: 0.9);
        box-shadow: 0px 5px 12px 4px rgba($color: #000000, $alpha: 0.09);
      }
    }
  }

  .list {
    padding-bottom: 100px;
    .item + .item {
      border-top: 1px solid #efefef;
    }
    .item {
      line-height: 1.3;
      padding: 24px 16px;
      color: #999;
      &:hover {
        background: rgba($color: #5d9cec, $alpha: 0.06);
      }
      $state-width: calc(14px + 16px);
      .state {
        width: 14px;
        height: 14px;
        background-color: #dfdfdf;
        border-radius: 50%;
      }

      .top {
        display: flex;
        align-items: center;
        > * {
          display: flex;
          align-items: center;
        }
        .lbox {
          width: $state-width;
        }
        .cbox {
          flex: 1;
          .name {
            font-weight: bold;
          }
        }

        .rbox {
          margin: -8px;
          button {
            border: none;
            background: none;
            padding: 0;
            color: var(--color-primary);
            margin: 8px;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .del {
            color: var(--color-third);
          }
          button:disabled {
            color: #999;
          }
        }
      }
      .bottom {
        padding-left: $state-width;
        padding-top: 16px;
        .url {
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }

    .loading {
      .state {
        animation-name: blink;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        transition: all 0.5s;
      }
    }

    .active {
      color: #333;
      .state {
        background-color: var(--color-primary);
      }
    }
  }
}

@keyframes blink {
  from {
    background-color: #dfdfdf;
  }
  to {
    background-color: var(--color-primary);
  }
}
